Week2/.vs/slnx.sqlite
Week2/.vs/Week2/v17/.wsuo
Week2/.vs/Week2/FileContentIndex/read.lock
Week2/.vs/ProjectSettings.json
Week2/.vs/VSWorkspaceState.json
Week2/.vs/Week2/FileContentIndex/b1bfe95d-8ed2-4588-b74d-a49bd3d46e80.vsidx
Week2/.vscode/launch.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CMPR114/FileContentIndex/4e6c428c-59c7-4937-ada9-f2f29945f0d9.vsidx
.vs/CMPR114/FileContentIndex/834aaf28-6e51-4d36-b3d8-e4b1faab9a12.vsidx
.vs/CMPR114/FileContentIndex/1258bb40-0bd7-4fcd-9331-ed29a35e21e3.vsidx
.vs/CMPR114/FileContentIndex/e46a6d6d-87cc-4585-9e08-c6118d0d5eb9.vsidx
.vs/CMPR114/FileContentIndex/read.lock
.vs/CMPR114/v17/.wsuo
.vscode/launch.json
*.pyc